<div class="maindiv">
    <div class="header">
        <div class="dochead">
            Patients
        </div>
        <div class="adddoc"><button mat-raised-button color="primary" (click)="addpatients()" class="addbutton">+ Add patient</button></div>
    </div>
    <div class="maindoc">
        <table class="tableentry">
            <tr class="tableheader">
                <th class="head1">Photo</th>
                <th class="head1">Name</th>
                <th class="head1"> ID </th>
                <th class="head1">Age</th>
                <th  class="head4">Address</th>
                <th class="head2">Number</th>
                <th class="head2">Last visit</th>
                <th class="head2">Status</th>
                <th class="head5">Actions</th>
            </tr>

            <tr class="tableheader1" *ngFor="let list of patients | searchfilter:search">
                <th class="head1"><img src="../../../../assets/{{list.img}}" class="img"></th>
                <th class="head1">{{list.name}}</th>
                <th class="head1" style="font-weight: 300;"> {{list.ID}} </th>
                <th class="head1" style="color: grey;font-weight: 300;">{{list.age}}</th>
                <th style="color: grey;font-weight: 300;width:250px;" class="head4">{{list.address}}</th>
                <th class="head2" style="color: blue;font-weight: 300;">{{list.number}}</th>
                <th class="head2" style="color: grey;font-weight: 300;">{{list.lastvisit}}</th>
                <th class="head2" style="color: grey;font-weight: 300;" ><button mat-raised-button
                        color="primary" class="button">{{list.status}}</button></th>
                <th class="buttonflex">
                    <div class="editbutton">
                        <img src="../../assets/edit_FILL0_wght300_GRAD0_opsz24.svg" class="editicon"
                            (click)="editpatient(list)">
                    </div>
                    <div class="deletebutton">
                        <img src="../../assets/delete_FILL0_wght300_GRAD0_opsz24.svg" class="editicon"
                            (click)="deletepatient(list.id)">
                    </div>
                </th>
            </tr>
        </table>
    </div>
</div>