<div class="maindiv" [formGroup]="loginForm">
    <p class="signup">Login Form</p>
    <p style="color:grey" class="state">Login to access your account</p>
    <div class="formfieldsdiv">
        <mat-form-field appearance="fill" class="formfields">
            <input matInput placeholder="Email Address" formControlName="email" class="placeholder">
            <mat-error>Enter username</mat-error>
        </mat-form-field>
    </div>
    <div class="formfieldsdiv">
        <mat-form-field appearance="fill" class="formfields" >
            <input matInput placeholder="Password" formControlName="password" class="placeholder">
            <mat-error>Enter password</mat-error>
        </mat-form-field>
    </div>
    <div class="slidetoggle">
        <mat-slide-toggle color="primary" >Remember me</mat-slide-toggle>
    </div>
    <div>
        <button mat-raised-button color="primary" class="button" (click)="login()" [disabled]="!loginForm.valid">
            <div class="buttondiv">
                <div style="font-size: x-large;width: 20px;" >+ </div>
                <div >Login</div>
            </div>
        </button>
    </div>
    <div class="passwordforget">Forgot password?</div>
    <div class="account">Don't have an account? <a style="color:blue;line-height: 2.4;text-decoration: none;" routerLink="/signup">Sign up!</a></div>
</div>
