<div class="maindiv">
    <div class="maindoc">
        <div class="doclists">
            <div class="imgdiv">
                <img src="../../../../assets/{{list.img}}" class="img">
            </div>
            <div class="contentdiv">
                <h3 class="docname">{{list.name}}</h3>
                <p style="color: gray;font-size:x-large;margin-top: 40px;">{{list.specialization}}</p>
                <img src="../../../../assets/1161953_instagram_icon.svg" class="icons">
                <img src="../../../../assets/facebook-f.svg" class="icons">
                <img src="../../../../assets/twitter.svg" class="icons">
                <p style="color: gray;margin-top: 20px;font-size:medium;">{{list.address}}</p>
            </div>
        </div>
        <div  class="secondpart">
            <h3 class="about">About:</h3><span>{{list.about}}</span>
        </div>
        <div>
            <h3 class="about1">Professional Experience:</h3><span>
                <h2>{{list.experience}}</h2>
                <ul class="ul">
                    <li>Deliver compassionate and empathetic treatment to 15+ patients per day, analyze lab tests and
                        blood work to identify abnormalities, monitor blood pressure, and prescribe medication to treat
                        chronic and non-life threatening illnesses.</li>
                    <li>Develop individualized treatment plans for a variety of medical conditions and diseases and
                        ensure alignment with physical, cultural, and emotional needs.</li>
                    <li>Coordinate with a team of 20+ nurses to enhance the delivery of patient-centered care.</li>
                </ul>
            </span>
        </div>
    </div>
</div>>