.maindiv {
    position: absolute;
    top: 20px;
    left: 10px;
    right: 10px;
}

.searchdiv {
    width: 500px;
    height: 50px;
    z-index: 2;
    position: relative;
    overflow: hidden;
    margin-top: 12px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 2px 6px 2px rgba(60, 64, 67, 0.149);
}

.search {
    width: 501px;
    border-radius: 10px;
    z-index: 1;
    margin-left: -2px;
    margin-top: -2px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 2px 6px 2px rgba(60, 64, 67, 0.149);
}

.dochead {
    font-size: xx-large;
    color: gray;
}

.maindoc{
    position: relative;
    top:25px;left: 5px;right: 55px;width: 1002px;
        
}
.tableheader{
    position: relative;
   width: 1500px;
   height: 40px;
  background:lightgray 0% 0% no-repeat padding-box;
  border-radius: 3px 3px 0px 0px;
   opacity: 1;
  }
  .tableheader1{
background-color: rgba(242, 242, 242, 0.937);height: 55px;
  }
  .tableentry{
    position: relative;
    width: 1499px;
  }
  .header{
    display: flex;justify-content: space-between;align-items: center;
  }
  .head{
    position: relative;left: -10px;
  }
  .head1{
    width: 90px;
  }
  .head2{
    width: 150px;
  }
  .head3{
    width: 110px;
  }
  .button{
    height: 45px;font-size: medium;
  }
  .buttonflex{
    display: flex;justify-content: space-around;flex-wrap: wrap;align-items: center;
  }
  .img{
    height:33px; width:33px;
    border:1px groove;border-radius: 50%;
  }

  @media only screen and (max-width: 412px) {

    .maindoc{
      position: fixed;
      top:165px;left: 5px;right: 5px;width: auto;
      overflow-x: auto;
  }
  .header{
    position: fixed;
    display: flex;justify-content: space-between;align-items: center;
  }
  .dochead {margin-right: 30px;
    font-size: xx-large;
    color: gray;
}
  }

@media only screen and (max-width:820px) and (min-width:413px){

   .maindoc{
      position: fixed;
      top:240px;left: 5px;right: 5px;width: auto;
      overflow-x: auto;
  }
  .header{
    position: fixed;width: 800px;
    display: flex;justify-content: space-between;align-items: center;
  }
  .dochead {
    position: relative;top: 40px;font-size: 44px;

}
.adddoc{
  position: relative;top: 44px;font-size: 34px;
}
.addbutton{
  height: 50px;font-size: 24px;
}
.head1{
  width: 95px;font-size: 22px;height: 65px;
}
.head2{
  width: 155px;font-size: 22px;height: 65px;
}
.head3{
  width: 132px;font-size: 22px;height: 65px;
}
.img{
  height:45px; width:45px;
  border:1px groove;border-radius: 50%;
}

}