<div [formGroup]="patientForm" class="maindiv" >
    <h1 *ngIf="!edit" class="header">Add patient</h1>
    <h1 *ngIf="edit" class="header">Edit patient</h1>
    <input #fileInput placeholder="Select image" type="file" (change)="onfileSelect($event)" style="display: none;">
    <button mat-raised-button color="primary" (click)="fileInput.click()" class="selectimagebutton">Select image</button><br>
    
    <div class="formfieldsdiv">
        <mat-form-field appearance="fill" class="formfields">
            <input matInput placeholder="Name" formControlName="name">
        </mat-form-field>
    </div>
    <div class="formfieldsdiv">
        <mat-form-field appearance="fill" class="formfields">
            <input matInput placeholder="ID" formControlName="ID">
        </mat-form-field>
    </div>
    <div class="formfieldsdiv">
        <mat-form-field appearance="fill" class="formfields">
            <input matInput placeholder="Age" formControlName="age">
        </mat-form-field>
    </div>
    <div class="formfieldsdiv">
        <mat-form-field appearance="fill" class="formfields">
            <input matInput placeholder="Address" formControlName="address">
        </mat-form-field>
    </div>
    <div class="formfieldsdiv ">
        <mat-form-field appearance="fill" class="formfields ">
            <input matInput placeholder="Number" formControlName="number">
        </mat-form-field>
    </div>
    <div class="formfieldsdiv">
        <mat-form-field appearance="fill" class="formfields ">
            <input matInput placeholder="Last visit" formControlName="lastvisit">
        </mat-form-field>
    </div>
    <div class="formfieldsdiv">
        <mat-form-field appearance="fill" class="formfields">
            <input matInput placeholder="status" formControlName="status">
        </mat-form-field>
    </div>
    <div class="buttondiv">
        <button mat-raised-button color="warn" (click)="cancel()" class="cancel">Cancel</button>
        <button *ngIf="!edit" mat-raised-button color="primary" [disabled]="!patientForm.valid" (click)="addpatient()" class="addoredit">Add Patient</button>
        <button *ngIf="edit" mat-raised-button color="primary" class="editclass addoredit" (click)="editpatient()" >Edit Patient</button>
    </div>
</div>