<div [formGroup]="appointmentForm" class="maindiv" >
    <h1>Add appointment</h1>
        <input #fileInput placeholder="Select image" type="file" (change)="onfileSelect($event)" style="display: none;">
    <button mat-raised-button color="primary" (click)="fileInput.click()">Select image</button>
    <div class="formfieldsdiv">
        <mat-form-field appearance="fill" class="formfields">
            <input matInput placeholder="Name" formControlName="name" >
        </mat-form-field>
    </div>
    <div class="formfieldsdiv">
        <mat-form-field appearance="fill" class="formfields">
            <input matInput placeholder="Doctor" formControlName="doctor">
        </mat-form-field>
    </div>
    <div class="formfieldsdiv">
        <mat-form-field appearance="fill" class="formfields">
            <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>
    </div>
    <div class="formfieldsdiv">
        <mat-form-field appearance="fill" class="formfields">
            <input matInput placeholder="Date" formControlName="date">
        </mat-form-field>
    </div>
    <div class="fromtodiv">
        <div class="formfieldsdiv formfieldsdivsub">
            <mat-form-field appearance="fill" class="formfields formfieldssub">
                <input matInput placeholder="From" formControlName="fromtime">
            </mat-form-field>
        </div>
        <div class="formfieldsdiv formfieldsdivsub">
            <mat-form-field appearance="fill" class="formfields formfieldssub">
                <input matInput placeholder="To" formControlName="totime">
            </mat-form-field>
        </div>
    </div>
    <div class="formfieldsdiv">
        <mat-form-field appearance="fill" class="formfields">
            <input matInput placeholder="Number" formControlName="number">
        </mat-form-field>
    </div>
    <div class="formfieldsdiv">
        <mat-form-field appearance="fill" class="formfields">
            <input matInput placeholder="Injury" formControlName="injury">
        </mat-form-field>
    </div>
    <div class="buttondiv">
        <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
        <button *ngIf="!edit" mat-raised-button color="primary" (click)="addappointment()" style="width: 200px;">Add appointment</button>
        <button *ngIf="edit" mat-raised-button color="primary" (click)="editappointment()" style="width: 200px;">Edit appointment</button>
    </div>
</div>