<div class="maindiv">
    <h1>Add appointment</h1>
    <button mat-raised-button color="primary">Select image</button>
    <div class="formfieldsdiv">
        <mat-form-field appearance="fill" class="formfields">
            <input matInput placeholder="Name">
        </mat-form-field>
    </div>
    <div class="formfieldsdiv">
        <mat-form-field appearance="fill" class="formfields">
            <input matInput placeholder="Doctor">
        </mat-form-field>
    </div>
    <div class="formfieldsdiv">
        <mat-form-field appearance="fill" class="formfields">
            <input matInput placeholder="Email">
        </mat-form-field>
    </div>
    <div class="formfieldsdiv">
        <mat-form-field appearance="fill" class="formfields">
            <input matInput placeholder="Date">
        </mat-form-field>
    </div>
    <div class="fromtodiv">
        <div class="formfieldsdiv formfieldsdivsub">
            <mat-form-field appearance="fill" class="formfields formfieldssub">
                <input matInput placeholder="From">
            </mat-form-field>
        </div>
        <div class="formfieldsdiv formfieldsdivsub">
            <mat-form-field appearance="fill" class="formfields formfieldssub">
                <input matInput placeholder="To">
            </mat-form-field>
        </div>
    </div>
    <div class="formfieldsdiv">
        <mat-form-field appearance="fill" class="formfields">
            <input matInput placeholder="Number">
        </mat-form-field>
    </div>
    <div class="formfieldsdiv">
        <mat-form-field appearance="fill" class="formfields">
            <input matInput placeholder="Injury">
        </mat-form-field>
    </div>
    <div class="buttondiv">
        <button mat-raised-button color="warn">Cancel</button>
        <button mat-raised-button color="primary" style="width: 200px;">Add appointment</button>
    </div>
</div>