<div class="maindiv" [formGroup]="signupform">
    <p class="signup">Sign up</p>
    <p style="color:grey">Create you account</p>
    <div class="formfieldsdiv">
        <mat-form-field appearance="fill" class="formfields">
            <input matInput placeholder="Name" formControlName="name">
            <mat-error>Enter name</mat-error>
        </mat-form-field>
    </div>
    <div class="formfieldsdiv">
        <mat-form-field appearance="fill" class="formfields">
            <input matInput placeholder="Email Address" formControlName="email">
            <mat-error>Invalid email</mat-error>
        </mat-form-field>
    </div>
    <div class="formfieldsdiv">
        <mat-form-field appearance="fill" class="formfields" >
            <mat-error>Password must be atleast 6 characters</mat-error>
            <input matInput placeholder="Password" formControlName="password">
        </mat-form-field>
    </div>
    <div class="slidetoggle">
        <mat-slide-toggle color="primary">I agree to the terms and Privacy.</mat-slide-toggle>
    </div>
    <div>
        <button mat-raised-button color="primary" class="button" (click)="register()">
            <div class="buttondiv">
                <div style="font-size: x-large;width: 20px;">+ </div>
                <div >Register</div>
            </div>
        </button>
    </div>
    <div class="account">Have an account?<a style="color:blue;line-height: 2.4;text-decoration: none;" routerLink="/login">Sign in!</a></div>
</div>