.maindiv {
    position: absolute;
    top: 2px;
    left: 10px;
    right: 10px;
    display: flex;justify-content: space-between;
}

.searchdiv {
    width: 500px;
    height: 50px;
    z-index: 2;
    position: relative;margin-left: 0px;
    overflow: hidden;
    margin-top: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 2px 6px 2px rgba(60, 64, 67, 0.149);
}
.profile{
  position: relative;right: 5px;top: 15px;opacity:1;
}
.notification{
 position: relative;top:-9px;left:-9px;
}
.profileimg{
  background: 0% 0% padding-box;position: relative;left: 3px;
  border-radius: 50%;
}
.arrowdown{
 position: relative;top: -10px;left: 5px;
}

.search {
    width: 501px;
    border-radius: 10px;
    z-index: 1;
    margin-left: -2px;
    margin-top: -2px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 2px 6px 2px rgba(60, 64, 67, 0.149);
}

.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
  }
  
  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  h1.example-app-name {
    margin-left: 8px;margin-top: 9px;
  }
  
  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }

  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }

  .example-toolbar{
    background-color: white;
    display: flex;position: relative;
    justify-content: space-between;
  }
  
   .sidebar{
    height: 45px;margin-left: 0px;
    border:1px groove white;border-radius: 10px;width: 280px;
   }
   .sidebar1{
    display: flex;
    justify-content: space-between;flex-wrap: wrap;align-items: center;
    flex-direction: row;
   }
   .active{
    background-color: #feefc3;
   }