<div>
    <div class="maindiv">
        <div class="searchdiv">
            <mat-form-field class="search" appearance="fill">
                <input matInput placeholder="Type to search" (keyup)="search($event)">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>
        <div class="profile">
            <mat-icon matBadge="5" matBadgeColor="warn" matBadgeSize="small" class="notification">
                notifications
            </mat-icon>
            <img src="../../../../assets/profileimg.png" [matMenuTriggerFor]="menulogout"  class="profileimg">
            <mat-menu #menulogout="matMenu" class="matmenu1">
                <button mat-menu-item (click)="logout()">
                    <span>Log out</span>
                </button>
            </mat-menu>
            <img src="../../../../assets/downarrow.svg" [matMenuTriggerFor]="menu" class="arrowdown">
            <mat-menu #menu="matMenu" class="matmenu2">
                <button mat-menu-item routerLink="./doctors" class="menubutton">
                    <span>Doctors</span>
                </button> 
                <button mat-menu-item routerLink="./allAppointments">
                    <span>Appointments</span>
                </button>
                <button mat-menu-item routerLink="./allPatients">
                    <span>Patients</span>
                </button>
            </mat-menu>
        </div>
    </div>
    <div style="position: relative;top: 80px;">
        <router-outlet></router-outlet>
    </div>
</div>
